.wrapper {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;

  /** Styling react-select can be cumbersime
    * It's this or create custom sub-components for the combobox
    * In the interest of time, I chose to go the former route
    **/
  :global {
    .combobox__control {
      background-color: transparent;
      border: 2px solid #e5e5e5;
      border-radius: 5px;
      height: 54px;

      &:hover {
        border-color: #e5e5e5;
      }
    }

    .combobox__control--is-focused {
      box-shadow: none;
      border: 2px solid #cd1f26;

      &:hover {
        border-color: #cd1f26;
      }
    }

    .combobox__value-container {
      padding: 0 1rem;
    }

    .combobox__indicator-separator {
      display: none;
    }

    .combobox__dropdown-indicator svg {
      stroke: #454545;
      fill: #454545;
      height: 24px;
      width: 24px;
    }

    .combobox__menu {
      border: none;
    }

    .combobox__option {
      cursor: pointer;
    }

    .combobox__option--is-focused {
      background-color: rgba(#cd1f26, 0.1);
    }

    .combobox__option--is-selected {
      background-color: #cd1f26;
      color: white;
    }
  }
}

.label {
  font-size: 32px;
  margin-bottom: 0.5rem;
  display: block;
}
