@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans Condensed', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
